$fa-font-path:  "../fonts" !default;
$fa-version:    "1.0.3" !default;

@font-face {
  font-family: 'Showpitch_IconFont-50';
  src: url('#{$fa-font-path}/Showpitch_IconFont-50.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/Showpitch_IconFont-50.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
  url('#{$fa-font-path}/Showpitch_IconFont-50.woff?v=#{$fa-version}') format('woff'),
  url('#{$fa-font-path}/Showpitch_IconFont-50.ttf?v=#{$fa-version}') format('truetype'),
  url('#{$fa-font-path}/Showpitch_IconFont-50.svg?v=#{$fa-version}#Showpitch_IconFont-50') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Showpitch_IconFont-50' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ALBUMalt:before {
  content: "\371";
}

.icon-HD:before {
  content: "\e6a0";
}

.icon-HDbold:before {
  content: "\e9ab";
}

.icon-HDreg:before {
  content: "\e9ac";
}

.icon-HDthin:before {
  content: "\e9ad";
}

.icon-FULLSCREEN:before {
  content: "\e9ae";
}

.icon-FULLscreenBOLD:before {
  content: "\e9af";
}

.icon-FULLscreenREG:before {
  content: "\e9b0";
}

.icon-FULLscreenTHIN:before {
  content: "\e9b1";
}

.icon-DIRECTORScut:before {
  content: "\e900";
}

.icon-DIRECTORScutBOLD:before {
  content: "\e901";
}

.icon-DIRECTORScutREG:before {
  content: "\e902";
}

.icon-DIRECTORScutTHIN:before {
  content: "\e903";
}

.icon-STREAME:before {
  content: "\e904";
}

.icon-STREAMEbold:before {
  content: "\e905";
}

.icon-STREAMEreg:before {
  content: "\e906";
}

.icon-STREAMEthin:before {
  content: "\e907";
}

.icon-STREAMEalt:before {
  content: "\e908";
}

.icon-STREAMEaltBOLD:before {
  content: "\e909";
}

.icon-STREAMEaltREG:before {
  content: "\e90a";
}

.icon-STREAMEaltTHIN:before {
  content: "\e90b";
}

.icon-ELITE:before {
  content: "\e90c";
}

.icon-eliteBOLD:before {
  content: "\e90d";
}

.icon-eliteREG:before {
  content: "\e90e";
}

.icon-eliteTHIN:before {
  content: "\e90f";
}

.icon-GLOSSARY:before {
  content: "\e910";
}

.icon-glossaryBOLD:before {
  content: "\e911";
}

.icon-glossaryREG:before {
  content: "\e912";
}

.icon-glossaryTHIN:before {
  content: "\e913";
}

.icon-FONTbold:before {
  content: "\e914";
}

.icon-FONTitalic:before {
  content: "\e915";
}

.icon-FONTregular:before {
  content: "\e916";
}

.icon-FONTunderline:before {
  content: "\e917";
}

.icon-ALIGNbullets:before {
  content: "\e918";
}

.icon-ALIGNbulletsBOLD:before {
  content: "\e919";
}

.icon-ALIGNbulletsREG:before {
  content: "\e91a";
}

.icon-ALIGNbulletsTHIN:before {
  content: "\e91b";
}

.icon-ALIGNcenter:before {
  content: "\e91c";
}

.icon-ALIGNcenterBOLD:before {
  content: "\e91d";
}

.icon-ALIGNcenterREG:before {
  content: "\e91e";
}

.icon-ALIGNcenterTHIN:before {
  content: "\e91f";
}

.icon-ALIGNleft:before {
  content: "\e920";
}

.icon-ALIGNleftBOLD:before {
  content: "\e921";
}

.icon-ALIGNleftREG:before {
  content: "\e922";
}

.icon-ALIGNleftTHIN:before {
  content: "\e923";
}

.icon-ALIGNright:before {
  content: "\e924";
}

.icon-ALIGNrightBOLD:before {
  content: "\e925";
}

.icon-ALIGNrightREG:before {
  content: "\e926";
}

.icon-ALIGNrightTHIN:before {
  content: "\e927";
}

.icon-TEXT:before {
  content: "\e928";
}

.icon-textBOLD:before {
  content: "\e929";
}

.icon-textREG:before {
  content: "\e92a";
}

.icon-textTHIN:before {
  content: "\e92b";
}

.icon-ADAUTO:before {
  content: "\e92c";
}

.icon-ADautoBOLD:before {
  content: "\e92d";
}

.icon-ADautoREG:before {
  content: "\e92e";
}

.icon-ADautoTHIN:before {
  content: "\e92f";
}

.icon-ADRENTAL:before {
  content: "\e930";
}

.icon-ADrentalBOLD:before {
  content: "\e931";
}

.icon-ADrentalREG:before {
  content: "\e932";
}

.icon-ADrentalTHIN:before {
  content: "\e933";
}

.icon-EMBED:before {
  content: "\e934";
}

.icon-embedBOLD:before {
  content: "\e935";
}

.icon-embedREG:before {
  content: "\e936";
}

.icon-embedTHIN:before {
  content: "\e937";
}

.icon-ROTATECW:before {
  content: "\e938";
}

.icon-rotateCWbold:before {
  content: "\e939";
}

.icon-rotateCWreg:before {
  content: "\e93a";
}

.icon-rotateCWthin:before {
  content: "\e93b";
}

.icon-ROTATE:before {
  content: "\e93c";
}

.icon-rotateBOLD:before {
  content: "\e93d";
}

.icon-rotateREG:before {
  content: "\e93e";
}

.icon-rotateTHIN:before {
  content: "\e93f";
}

.icon-CROPhorz:before {
  content: "\e940";
}

.icon-CROPhorzBOLD:before {
  content: "\e941";
}

.icon-CROPhorzREG:before {
  content: "\e942";
}

.icon-CROPhorzTHIN:before {
  content: "\e943";
}

.icon-CROPvert:before {
  content: "\e944";
}

.icon-CROPvertBOLD:before {
  content: "\e945";
}

.icon-CROPvertREG:before {
  content: "\e946";
}

.icon-CROPvertTHIN:before {
  content: "\e947";
}

.icon-CROPsquare:before {
  content: "\e948";
}

.icon-CROPsquareBOLD:before {
  content: "\e949";
}

.icon-CROPsquareREG:before {
  content: "\e94a";
}

.icon-CROPsquareTHIN:before {
  content: "\e94b";
}

.icon-CROPunformatted:before {
  content: "\e94c";
}

.icon-CROPunformattedBOLD:before {
  content: "\e94d";
}

.icon-CROPunformattedREG:before {
  content: "\e94e";
}

.icon-CROPunformattedTHIN:before {
  content: "\e94f";
}

.icon-CROPfit:before {
  content: "\e950";
}

.icon-CROP:before {
  content: "\e951";
}

.icon-cropBOLD:before {
  content: "\e952";
}

.icon-cropREG:before {
  content: "\e953";
}

.icon-cropTHIN:before {
  content: "\e954";
}

.icon-STATION:before {
  content: "\e955";
}

.icon-stationBOLD:before {
  content: "\e956";
}

.icon-stationREG:before {
  content: "\e957";
}

.icon-stationTHIN:before {
  content: "\e958";
}

.icon-MATURE:before {
  content: "\e959";
}

.icon-matureBOLD:before {
  content: "\e95a";
}

.icon-matureREG:before {
  content: "\e95b";
}

.icon-matureTHIN:before {
  content: "\e95c";
}

.icon-MATUREalt:before {
  content: "\e95d";
}

.icon-MATUREaltBOLD:before {
  content: "\e95e";
}

.icon-MATUREaltREG:before {
  content: "\e95f";
}

.icon-MATUREaltTHIN:before {
  content: "\e960";
}

.icon-PAGE:before {
  content: "\e961";
}

.icon-pageBOLD:before {
  content: "\e962";
}

.icon-pageREG:before {
  content: "\e963";
}

.icon-pageTHIN:before {
  content: "\e964";
}

.icon-PREVIOUS:before {
  content: "\e965";
}

.icon-NEXT:before {
  content: "\e966";
}

.icon-PAUSE:before {
  content: "\e967";
}

.icon-PLAY:before {
  content: "\e968";
}

.icon-FILMING:before {
  content: "\e969";
}

.icon-filmingBOLD:before {
  content: "\e96a";
}

.icon-filmingREG:before {
  content: "\e96b";
}

.icon-filmingTHIN:before {
  content: "\e96c";
}

.icon-SCRIPT:before {
  content: "\e96d";
}

.icon-scriptBOLD:before {
  content: "\e96e";
}

.icon-scriptREG:before {
  content: "\e96f";
}

.icon-scriptTHIN:before {
  content: "\e970";
}

.icon-PLAYLIST:before {
  content: "\e971";
}

.icon-playlistBOLD:before {
  content: "\e972";
}

.icon-playlistREG:before {
  content: "\e973";
}

.icon-playlistTHIN:before {
  content: "\e974";
}

.icon-REFINE:before {
  content: "\e975";
}

.icon-refineBOLD:before {
  content: "\e976";
}

.icon-refineREG:before {
  content: "\e977";
}

.icon-refineTHIN:before {
  content: "\e978";
}

.icon-MODEMINI:before {
  content: "\e979";
}

.icon-MODEminiBOLD:before {
  content: "\e97a";
}

.icon-MODEminiREG:before {
  content: "\e97b";
}

.icon-MODEminiTHIN:before {
  content: "\e97c";
}

.icon-MODESPLIT:before {
  content: "\e97d";
}

.icon-MODEsplitBOLD:before {
  content: "\e97e";
}

.icon-MODEsplitREG:before {
  content: "\e97f";
}

.icon-MODEsplitTHIN:before {
  content: "\e980";
}

.icon-MODESTREAM:before {
  content: "\e981";
}

.icon-MODEstreamBOLD:before {
  content: "\e982";
}

.icon-MODEstreamREG:before {
  content: "\e983";
}

.icon-MODEstreamTHIN:before {
  content: "\e984";
}

.icon-MODEEXPANDED:before {
  content: "\e985";
}

.icon-MODEexpandedBOLD:before {
  content: "\e986";
}

.icon-MODEexpandedREG:before {
  content: "\e987";
}

.icon-MODEexpandedTHIN:before {
  content: "\e988";
}

.icon-MODEFULL:before {
  content: "\e989";
}

.icon-MODEfullBOLD:before {
  content: "\e98a";
}

.icon-MODEfullREG:before {
  content: "\e98b";
}

.icon-MODEfullTHIN:before {
  content: "\e98c";
}

.icon-ACTIVITY:before {
  content: "\e98d";
}

.icon-activityBOLD:before {
  content: "\e98e";
}

.icon-activityREG:before {
  content: "\e98f";
}

.icon-activityTHIN:before {
  content: "\e990";
}

.icon-FORWARDED:before {
  content: "\e991";
}

.icon-forwardedBOLD:before {
  content: "\e992";
}

.icon-forwardedREG:before {
  content: "\e993";
}

.icon-forwardedTHIN:before {
  content: "\e994";
}

.icon-FORWARD:before {
  content: "\e995";
}

.icon-forwardBOLD:before {
  content: "\e996";
}

.icon-forwardREG:before {
  content: "\e997";
}

.icon-forwardTHIN:before {
  content: "\e998";
}

.icon-SENT:before {
  content: "\e999";
}

.icon-sentBOLD:before {
  content: "\e99a";
}

.icon-sentREG:before {
  content: "\e99b";
}

.icon-sentTHIN:before {
  content: "\e99c";
}

.icon-INBOX:before {
  content: "\e99d";
}

.icon-inboxBOLD:before {
  content: "\e99e";
}

.icon-inboxREG:before {
  content: "\e99f";
}

.icon-inboxTHIN:before {
  content: "\e9a0";
}

.icon-MEDIAPARTNER:before {
  content: "\e9a1";
}

.icon-mediapartnerBOLD:before {
  content: "\e9a2";
}

.icon-mediapartnerREG:before {
  content: "\e9a3";
}

.icon-mediapartnerTHIN:before {
  content: "\e9a4";
}

.icon-CASTING:before {
  content: "\e9a5";
}

.icon-castingBOLD:before {
  content: "\e9a6";
}

.icon-castingREG:before {
  content: "\e9a7";
}

.icon-castingTHIN:before {
  content: "\e9a8";
}

.icon-ATTACH:before {
  content: "\e75b";
}

.icon-AttachBOLD:before {
  content: "\e75c";
}

.icon-AttachREG:before {
  content: "\e761";
}

.icon-AttachTHIN:before {
  content: "\e764";
}

.icon-ShareFolderBOLD:before {
  content: "\e766";
}

.icon-ShareFolderREG:before {
  content: "\e768";
}

.icon-ShareFolderTHIN:before {
  content: "\e770";
}

.icon-FolderOpenBOLD:before {
  content: "\e773";
}

.icon-FolderOpenREG:before {
  content: "\e774";
}

.icon-FolderOpenTHIN:before {
  content: "\e775";
}

.icon-FolderBOLD:before {
  content: "\e776";
}

.icon-FolderREG:before {
  content: "\e777";
}

.icon-FolderTHIN:before {
  content: "\e778";
}

.icon-AttachedFilesBOLD:before {
  content: "\e779";
}

.icon-AttachedFilesREG:before {
  content: "\e77a";
}

.icon-AttachedFilesTHIN:before {
  content: "\e77b";
}

.icon-MenuBOLD:before {
  content: "\e77c";
}

.icon-MenuREG:before {
  content: "\e77d";
}

.icon-MenuTHIN:before {
  content: "\e77e";
}

.icon-AlbumListBOLD:before {
  content: "\e77f";
}

.icon-AlbumListREG:before {
  content: "\e780";
}

.icon-AlbumListTHIN:before {
  content: "\e781";
}

.icon-emailXLBOLD:before {
  content: "\e782";
}

.icon-emailXLREG:before {
  content: "\e783";
}

.icon-emailXLTHIN:before {
  content: "\e784";
}

.icon-PAYMENT:before {
  content: "\e785";
}

.icon-paymentBOLD:before {
  content: "\e786";
}

.icon-paymentREG:before {
  content: "\e787";
}

.icon-paymentTHIN:before {
  content: "\e788";
}

.icon-FEEalt:before {
  content: "\e789";
}

.icon-FEEaltBOLD:before {
  content: "\e78a";
}

.icon-FEEaltREG:before {
  content: "\e78b";
}

.icon-FEEaltTHIN:before {
  content: "\e78c";
}

.icon-WALLET:before {
  content: "\e78d";
}

.icon-walletBOLD:before {
  content: "\e78e";
}

.icon-walletREG:before {
  content: "\e78f";
}

.icon-walletTHIN:before {
  content: "\e790";
}

.icon-CARD:before {
  content: "\e791";
}

.icon-cardBOLD:before {
  content: "\e792";
}

.icon-cardREG:before {
  content: "\e793";
}

.icon-cardTHIN:before {
  content: "\e794";
}

.icon-TIPPING:before {
  content: "\e795";
}

.icon-tippingBOLD:before {
  content: "\e796";
}

.icon-tippingREG:before {
  content: "\e797";
}

.icon-tippingTHIN:before {
  content: "\e798";
}

.icon-OPPS:before {
  content: "\e799";
}

.icon-oppsBOLD:before {
  content: "\e79a";
}

.icon-oppsREG:before {
  content: "\e79b";
}

.icon-oppsTHIN:before {
  content: "\e79c";
}

.icon-PREaffiliate:before {
  content: "\e79d";
}

.icon-PREaffiliateBOLD:before {
  content: "\e79e";
}

.icon-PREaffiliateREG:before {
  content: "\e79f";
}

.icon-PREaffiliateTHIN:before {
  content: "\e7a0";
}

.icon-PREreferral:before {
  content: "\e7a1";
}

.icon-PREreferralBOLD:before {
  content: "\e7a2";
}

.icon-PREreferralREG:before {
  content: "\e7a3";
}

.icon-PREreferralTHIN:before {
  content: "\e7a4";
}

.icon-ALERTS:before {
  content: "\e7a5";
}

.icon-alertsBOLD:before {
  content: "\e7a6";
}

.icon-alertsREG:before {
  content: "\e7a7";
}

.icon-alertsTHIN:before {
  content: "\e7a8";
}

.icon-REQUEST:before {
  content: "\e7a9";
}

.icon-requestBOLD:before {
  content: "\e7aa";
}

.icon-requestREG:before {
  content: "\e7ab";
}

.icon-requestTHIN:before {
  content: "\e7ac";
}

.icon-statsBOLD:before {
  content: "\e7ad";
}

.icon-statsREG:before {
  content: "\e7ae";
}

.icon-statsTHIN:before {
  content: "\e7af";
}

.icon-POSTb:before {
  content: "\e7b0";
}

.icon-postbBOLD:before {
  content: "\e7b1";
}

.icon-postbREG:before {
  content: "\e7b2";
}

.icon-postbTHIN:before {
  content: "\e7b3";
}

.icon-POSTc:before {
  content: "\e7b4";
}

.icon-postcBOLD:before {
  content: "\e7b5";
}

.icon-postcREG:before {
  content: "\e7b6";
}

.icon-postcTHIN:before {
  content: "\e7b7";
}

.icon-HOME:before {
  content: "\e7b8";
}

.icon-homeBOLD:before {
  content: "\e7b9";
}

.icon-homeREG:before {
  content: "\e7ba";
}

.icon-homeTHIN:before {
  content: "\e7bb";
}

.icon-SUBMIT:before {
  content: "\e7bc";
}

.icon-submitBOLD:before {
  content: "\e7bd";
}

.icon-submitREG:before {
  content: "\e7be";
}

.icon-submitTHIN:before {
  content: "\e7bf";
}

.icon-FIFTHTEEN:before {
  content: "\e7c0";
}

.icon-fifthteenBOLD:before {
  content: "\e7c1";
}

.icon-fifthteenREG:before {
  content: "\e7c2";
}

.icon-fifthteenTHIN:before {
  content: "\e7c3";
}

.icon-THIRTY:before {
  content: "\e7c4";
}

.icon-thirtyBOLD:before {
  content: "\e7c5";
}

.icon-thirtyREG:before {
  content: "\e7c6";
}

.icon-thirtyTHIN:before {
  content: "\e7c7";
}

.icon-ShareFolder:before {
  content: "\e710";
}

.icon-AttachedFiles:before {
  content: "\395";
}

.icon-Folder:before {
  content: "\22d";
}

.icon-FolderOPEN:before {
  content: "\e693";
}

.icon-Menu:before {
  content: "\e6bc";
}

.icon-AlbumList:before {
  content: "\e617";
}

.icon-Stats:before {
  content: "\e723";
}

.icon-AccessTHIN:before {
  content: "\e6c5";
}

.icon-ACTINGTROUPE:before {
  content: "\e6cb";
}

.icon-actingtroupeBOLD:before {
  content: "\e6cd";
}

.icon-actingtroupeREG:before {
  content: "\e6ce";
}

.icon-actingtroupeTHIN:before {
  content: "\e6d9";
}

.icon-ACTOR:before {
  content: "\e6db";
}

.icon-actorBOLD:before {
  content: "\e6dc";
}

.icon-actorREG:before {
  content: "\e6e2";
}

.icon-actorTHIN:before {
  content: "\e6e7";
}

.icon-addanotherBOLD:before {
  content: "\e6e8";
}

.icon-addanotherREG:before {
  content: "\e6f9";
}

.icon-addanotherTHIN:before {
  content: "\e700";
}

.icon-addtoBOLD:before {
  content: "\e703";
}

.icon-addtol:before {
  content: "\e70c";
}

.icon-addtoREG:before {
  content: "\e712";
}

.icon-addtoTHIN:before {
  content: "\e718";
}

.icon-ADVERTISERS:before {
  content: "\e71d";
}

.icon-advertisersBOLD:before {
  content: "\e71f";
}

.icon-advertisersREG:before {
  content: "\e720";
}

.icon-advertisersTHIN:before {
  content: "\e730";
}

.icon-AFFILIATE:before {
  content: "\e743";
}

.icon-affilateBOLD:before {
  content: "\e750";
}

.icon-affilateREG:before {
  content: "\e752";
}

.icon-affilateTHIN:before {
  content: "\e755";
}

.icon-agentBOLD:before {
  content: "\e756";
}

.icon-agentTHIN:before {
  content: "\e757";
}

.icon-badgeTHIN:before {
  content: "\e758";
}

.icon-onfireBOLD:before {
  content: "\e6a5";
}

.icon-onfireTHIN:before {
  content: "\e6a7";
}

.icon-SimilarBOLD:before {
  content: "\e6a8";
}

.icon-SOCIALREACH:before {
  content: "\e6aa";
}

.icon-socialreachBOLD:before {
  content: "\e6af";
}

.icon-socialreachREG:before {
  content: "\e6be";
}

.icon-socialreachTHIN:before {
  content: "\e6bf";
}

.icon-transcodingTHIN:before {
  content: "\e6c1";
}

.icon-trashBOLD:before {
  content: "\e692";
}

.icon-trashREG:before {
  content: "\e694";
}

.icon-trashTHIN:before {
  content: "\e6a4";
}

.icon-tvREG:before {
  content: "\e678";
}

.icon-TVSHOW:before {
  content: "\e679";
}

.icon-TVshowALT:before {
  content: "\e67c";
}

.icon-TVshowBOLD:before {
  content: "\e67f";
}

.icon-TVshowTHIN:before {
  content: "\e688";
}

.icon-unselectedBOLD:before {
  content: "\e674";
}

.icon-unselectedREG:before {
  content: "\e676";
}

.icon-unselectedTHIN:before {
  content: "\e677";
}

.icon-RECRUITfan:before {
  content: "\e64c";
}

.icon-recruitfanBOLD:before {
  content: "\e666";
}

.icon-recruitfanREG:before {
  content: "\e66a";
}

.icon-recruitfanTHIN:before {
  content: "\e66d";
}

.icon-SUPERFAN:before {
  content: "\e726";
}

.icon-superfanBOLD:before {
  content: "\e665";
}

.icon-superfanl:before {
  content: "\e727";
}

.icon-superfanTHIN:before {
  content: "\e668";
}

.icon-switch:before {
  content: "\e728";
}

.icon-switchBOLD:before {
  content: "\e659";
}

.icon-switchREG:before {
  content: "\e65a";
}

.icon-switchTHIN:before {
  content: "\e65d";
}

.icon-info:before {
  content: "\e6ad";
}

.icon-infoBOLD:before {
  content: "\e64e";
}

.icon-infoSOLID:before {
  content: "\e656";
}

.icon-infoTHIN:before {
  content: "\e658";
}

.icon-GAMIFICATION:before {
  content: "\e62c";
}

.icon-gamificationBOLD:before {
  content: "\e631";
}

.icon-gamificationREG:before {
  content: "\e637";
}

.icon-gamificationTHIN:before {
  content: "\e639";
}

.icon-WELCOMEKIT:before {
  content: "\e63c";
}

.icon-welcomekitBOLD:before {
  content: "\e63d";
}

.icon-welcomekitREG:before {
  content: "\e644";
}

.icon-welcomekitTHIN:before {
  content: "\e645";
}

.icon-spstoriesTHIN:before {
  content: "\e629";
}

.icon-REPORT:before {
  content: "\20";
}

.icon-REPRESENTATION:before {
  content: "\f4";
}

.icon-EMAIL:before {
  content: "\e672";
}

.icon-emaill:before {
  content: "\e673";
}

.icon-EMAILXL:before {
  content: "\e675";
}

.icon-Article:before {
  content: "\e622";
}

.icon-articleBOLD:before {
  content: "\38a";
}

.icon-articleTHIN:before {
  content: "\38c";
}

.icon-AGENT:before {
  content: "\e614";
}

.icon-agentl:before {
  content: "\e615";
}

.icon-badgel:before {
  content: "\e62b";
}

.icon-AwardTHIN:before {
  content: "\e628";
}

.icon-TROPHYROOM:before {
  content: "\e60f";
}

.icon-trophyroomBOLD:before {
  content: "\e618";
}

.icon-trophyroomREG:before {
  content: "\e623";
}

.icon-trophyroomTHIN:before {
  content: "\e624";
}

.icon-COMPETITION:before {
  content: "\e651";
}

.icon-competitionBOLD:before {
  content: "\e613";
}

.icon-competitionl:before {
  content: "\e652";
}

.icon-competitionTHIN:before {
  content: "\e619";
}

.icon-TVshowl:before {
  content: "\e746";
}

.icon-Tags:before {
  content: "\e729";
}

.icon-STREAM:before {
  content: "\e724";
}

.icon-streamBOLD:before {
  content: "\e71e";
}

.icon-streaml:before {
  content: "\e725";
}

.icon-streamTHIN:before {
  content: "\e611";
}

.icon-SHARE:before {
  content: "\e70f";
}

.icon-shareBOLD:before {
  content: "\26";
}

.icon-Settings:before {
  content: "\e70d";
}

.icon-settingsBOLD:before {
  content: "\25";
}

.icon-settingsREG:before {
  content: "\e70e";
}

.icon-settingsTHIN:before {
  content: "\27";
}

.icon-SELECTED:before {
  content: "\e70b";
}

.icon-Search:before {
  content: "\e707";
}

.icon-SearchBOLD:before {
  content: "\e708";
}

.icon-SearchREG:before {
  content: "\e709";
}

.icon-SearchTHIN:before {
  content: "\e70a";
}

.icon-pauseTHIN:before {
  content: "\e6d8";
}

.icon-New:before {
  content: "\e6c9";
}

.icon-newBOLD:before {
  content: "\22";
}

.icon-newREG:before {
  content: "\23";
}

.icon-newTHIN:before {
  content: "\24";
}

.icon-HASHTAG:before {
  content: "\e69e";
}

.icon-GENRE:before {
  content: "\e69a";
}

.icon-GenreBOLD:before {
  content: "\e69b";
}

.icon-GenreREG:before {
  content: "\e69c";
}

.icon-GenreTHIN:before {
  content: "\e69d";
}

.icon-GAMECENTER:before {
  content: "\e696";
}

.icon-GameCenterBOLD:before {
  content: "\e697";
}

.icon-GameCenterREG:before {
  content: "\e698";
}

.icon-GameCenterTHIN:before {
  content: "\e699";
}

.icon-GalleryVIEW:before {
  content: "\e695";
}

.icon-SERVICES:before {
  content: "\e600";
}

.icon-ServicesBOLD:before {
  content: "\e601";
}

.icon-Servicesl:before {
  content: "\e602";
}

.icon-ServicesTHIN:before {
  content: "\e603";
}

.icon-SEENIN:before {
  content: "\e76b";
}

.icon-SeeninBOLD:before {
  content: "\e76c";
}

.icon-SeeninREG:before {
  content: "\e76d";
}

.icon-SeeninTHIN:before {
  content: "\e76e";
}

.icon-UPGRADE:before {
  content: "\21";
}

.icon-UPGRADE1:before {
  content: "\e748";
}

.icon-upgrade1l:before {
  content: "\e749";
}

.icon-UPGRADE2:before {
  content: "\e74a";
}

.icon-upgrade2l:before {
  content: "\e74b";
}

.icon-UPGRADE3:before {
  content: "\e74c";
}

.icon-upgrade3l:before {
  content: "\e74d";
}

.icon-upgradeBOLD:before {
  content: "\28";
}

.icon-upgradeREG:before {
  content: "\29";
}

.icon-upgradeTHIN:before {
  content: "\2a";
}

.icon-UPLOAD:before {
  content: "\e74e";
}

.icon-uploadBOLD:before {
  content: "\2c";
}

.icon-uploadl:before {
  content: "\e74f";
}

.icon-uploadTHIN:before {
  content: "\2e";
}

.icon-VENDOR:before {
  content: "\2f";
}

.icon-vendorBOLD:before {
  content: "\30";
}

.icon-vendorREG:before {
  content: "\31";
}

.icon-vendorTHIN:before {
  content: "\32";
}

.icon-VENUE:before {
  content: "\33";
}

.icon-venueBOLD:before {
  content: "\34";
}

.icon-venueREG:before {
  content: "\35";
}

.icon-venueTHIN:before {
  content: "\36";
}

.icon-VERIFIED:before {
  content: "\37";
}

.icon-verifiedBOLD:before {
  content: "\38";
}

.icon-verifiedREG:before {
  content: "\39";
}

.icon-verifiedTHIN:before {
  content: "\3a";
}

.icon-VIDS:before {
  content: "\e751";
}

.icon-VIDSalt:before {
  content: "\3c";
}

.icon-vidsBOLD:before {
  content: "\3d";
}

.icon-vidsl:before {
  content: "\e753";
}

.icon-vidsTHIN:before {
  content: "\3f";
}

.icon-VIEWS:before {
  content: "\e754";
}

.icon-viewsBOLD:before {
  content: "\41";
}

.icon-viewsl:before {
  content: "\42";
}

.icon-viewsTHIN:before {
  content: "\43";
}

.icon-VOTED:before {
  content: "\e759";
}

.icon-votedBOLD:before {
  content: "\45";
}

.icon-votedl:before {
  content: "\e75a";
}

.icon-votedTHIN:before {
  content: "\47";
}

.icon-Waiting:before {
  content: "\e75d";
}

.icon-waitingBOLD:before {
  content: "\49";
}

.icon-waitingREG:before {
  content: "\4a";
}

.icon-waitingTHIN:before {
  content: "\4b";
}

.icon-Website:before {
  content: "\e75e";
}

.icon-WebsiteBOLD:before {
  content: "\4d";
}

.icon-WebsiteREG:before {
  content: "\4e";
}

.icon-WebsiteTHIN:before {
  content: "\4f";
}

.icon-WRITER:before {
  content: "\50";
}

.icon-writerBOLD:before {
  content: "\51";
}

.icon-writerREG:before {
  content: "\52";
}

.icon-writerTHIN:before {
  content: "\53";
}

.icon-TALENT:before {
  content: "\e72d";
}

.icon-TalentBOLD:before {
  content: "\e72e";
}

.icon-TALENTGROUP:before {
  content: "\e72f";
}

.icon-TalentGroupREG:before {
  content: "\e731";
}

.icon-TalentGroupTHIN:before {
  content: "\e732";
}

.icon-TALENTOTHER:before {
  content: "\5a";
}

.icon-talentotherBOLD:before {
  content: "\5b";
}

.icon-talentotherREG:before {
  content: "\5c";
}

.icon-talentotherTHIN:before {
  content: "\5d";
}

.icon-TALENTPG:before {
  content: "\e733";
}

.icon-talentpgBOLD:before {
  content: "\5f";
}

.icon-talentpgl:before {
  content: "\e734";
}

.icon-talentpgTHIN:before {
  content: "\61";
}

.icon-TalentREG:before {
  content: "\e735";
}

.icon-TalentTHIN:before {
  content: "\e736";
}

.icon-TEAM:before {
  content: "\e737";
}

.icon-teamBOLD:before {
  content: "\65";
}

.icon-teaml:before {
  content: "\e738";
}

.icon-teamTHIN:before {
  content: "\67";
}

.icon-TECHNOLOGY:before {
  content: "\68";
}

.icon-technologyBOLD:before {
  content: "\69";
}

.icon-technologyREG:before {
  content: "\6a";
}

.icon-technologyTHIN:before {
  content: "\6b";
}

.icon-Terms:before {
  content: "\e739";
}

.icon-termsBOLD:before {
  content: "\6d";
}

.icon-termsREG:before {
  content: "\6e";
}

.icon-termsTHIN:before {
  content: "\6f";
}

.icon-THUMBSDOWN:before {
  content: "\e73a";
}

.icon-ThumbsDownBOLD:before {
  content: "\e73b";
}

.icon-ThumbsDownREG:before {
  content: "\e73c";
}

.icon-ThumbsDownTHIN:before {
  content: "\e73d";
}

.icon-THUMBSUP:before {
  content: "\e73e";
}

.icon-ThumbsUpBOLD:before {
  content: "\e73f";
}

.icon-ThumbsUpREG:before {
  content: "\e740";
}

.icon-ThumbsUpTHIN:before {
  content: "\e741";
}

.icon-Time:before {
  content: "\e742";
}

.icon-timeBOLD:before {
  content: "\79";
}

.icon-timeREG:before {
  content: "\7a";
}

.icon-timeTHIN:before {
  content: "\7b";
}

.icon-Transcoding:before {
  content: "\e744";
}

.icon-transcodingBOLD:before {
  content: "\7d";
}

.icon-transcodingREG:before {
  content: "\7e";
}

.icon-Trash:before {
  content: "\e745";
}

.icon-ONFIRE:before {
  content: "\e6d3";
}

.icon-onfirel:before {
  content: "\e6d4";
}

.icon-UNSELECTED:before {
  content: "\e747";
}

.icon-shuffleBOLD:before {
  content: "\e715";
}

.icon-shuffleREG:before {
  content: "\e716";
}

.icon-shuffleTHIN:before {
  content: "\e717";
}

.icon-SIMILAR:before {
  content: "\e767";
}

.icon-SimilarREG:before {
  content: "\e769";
}

.icon-SimilarTHIN:before {
  content: "\e76a";
}

.icon-sortBOLD:before {
  content: "\e719";
}

.icon-sortREG:before {
  content: "\e71a";
}

.icon-sortTHIN:before {
  content: "\e71b";
}

.icon-SP:before {
  content: "\e71c";
}

.icon-spl:before {
  content: "\a1";
}

.icon-SPORTSTEAM:before {
  content: "\a2";
}

.icon-sportsteamBOLD:before {
  content: "\a3";
}

.icon-sportsteamREG:before {
  content: "\a4";
}

.icon-sportsteamTHIN:before {
  content: "\a5";
}

.icon-SPPRODUCTS:before {
  content: "\a6";
}

.icon-spproductsBOLD:before {
  content: "\a7";
}

.icon-spproductsREG:before {
  content: "\a8";
}

.icon-spproductsTHIN:before {
  content: "\a9";
}

.icon-SPSTORIES:before {
  content: "\aa";
}

.icon-spstoriesBOLD:before {
  content: "\ab";
}

.icon-spstoriesREG:before {
  content: "\ac";
}

.icon-spstoriesTHIN2:before {
  content: "\ad";
}

.icon-SPthreeSIXTY:before {
  content: "\ae";
}

.icon-spthreesixtyBOLD:before {
  content: "\af";
}

.icon-spthreesixtyREG:before {
  content: "\b0";
}

.icon-spthreesixtyTHIN:before {
  content: "\b1";
}

.icon-STAGES:before {
  content: "\b2";
}

.icon-stagesBOLD:before {
  content: "\b3";
}

.icon-stagesREG:before {
  content: "\b4";
}

.icon-stagesTHIN:before {
  content: "\b5";
}

.icon-stageTHIN:before {
  content: "\b6";
}

.icon-STAR:before {
  content: "\e721";
}

.icon-starBOLD:before {
  content: "\b8";
}

.icon-starl:before {
  content: "\e722";
}

.icon-starTHIN:before {
  content: "\ba";
}

.icon-STRATEGIST:before {
  content: "\bc";
}

.icon-strategistBOLD:before {
  content: "\bd";
}

.icon-strategistREG:before {
  content: "\be";
}

.icon-strategistTHIN:before {
  content: "\bf";
}

.icon-TAGLINE:before {
  content: "\e76f";
}

.icon-TaglineBOLD:before {
  content: "\c4";
}

.icon-TaglineREG:before {
  content: "\e771";
}

.icon-TaglineTHIN:before {
  content: "\e772";
}

.icon-TagsBOLD:before {
  content: "\e72a";
}

.icon-TagsREG:before {
  content: "\e72b";
}

.icon-TagsTHIN:before {
  content: "\e72c";
}

.icon-sharel:before {
  content: "\e711";
}

.icon-shareTHIN:before {
  content: "\cd";
}

.icon-SHOWFUNDER:before {
  content: "\ce";
}

.icon-showfunderBOLD:before {
  content: "\cf";
}

.icon-showfunderREG:before {
  content: "\d0";
}

.icon-showfunderTHIN:before {
  content: "\d1";
}

.icon-Showmates:before {
  content: "\d2";
}

.icon-SHOWTRACKS:before {
  content: "\d3";
}

.icon-showtracksBOLD:before {
  content: "\d4";
}

.icon-showtracksREG:before {
  content: "\d5";
}

.icon-showtracksTHIN:before {
  content: "\d6";
}

.icon-ShowU:before {
  content: "\e713";
}

.icon-SHOWUalt:before {
  content: "\d8";
}

.icon-showuBOLD:before {
  content: "\d9";
}

.icon-ShowUniveristy:before {
  content: "\e714";
}

.icon-showuREG:before {
  content: "\db";
}

.icon-showuTHIN:before {
  content: "\dc";
}

.icon-SHOWVAULT:before {
  content: "\dd";
}

.icon-showvaultBOLD:before {
  content: "\de";
}

.icon-showvaultREG:before {
  content: "\df";
}

.icon-showvaultTHIN:before {
  content: "\e0";
}

.icon-Save:before {
  content: "\e702";
}

.icon-saveBOLD:before {
  content: "\e2";
}

.icon-saveREG:before {
  content: "\e3";
}

.icon-saveTHIN:before {
  content: "\e4";
}

.icon-SCHOOL:before {
  content: "\e5";
}

.icon-schoolBOLD:before {
  content: "\e6";
}

.icon-schoolREG:before {
  content: "\e7";
}

.icon-schoolTHIN:before {
  content: "\e8";
}

.icon-RATE:before {
  content: "\e6f7";
}

.icon-rateBOLD:before {
  content: "\ea";
}

.icon-ratel:before {
  content: "\e6f8";
}

.icon-rateTHIN:before {
  content: "\ec";
}

.icon-READS:before {
  content: "\e6fa";
}

.icon-readsBOLD:before {
  content: "\ee";
}

.icon-readsl:before {
  content: "\e6fb";
}

.icon-readsTHIN:before {
  content: "\f0";
}

.icon-repeatBOLD:before {
  content: "\e6fc";
}

.icon-repeatREG:before {
  content: "\e6fd";
}

.icon-repeatTHIN:before {
  content: "\e6fe";
}

.icon-REPLIES:before {
  content: "\f5";
}

.icon-repliesBOLD:before {
  content: "\f6";
}

.icon-repliesREG:before {
  content: "\f7";
}

.icon-REPLIESSTOP:before {
  content: "\f8";
}

.icon-repliesstopBOLD:before {
  content: "\f9";
}

.icon-repliesstopREG:before {
  content: "\fa";
}

.icon-repliesTHIN:before {
  content: "\fb";
}

.icon-Reply:before {
  content: "\e6ff";
}

.icon-reportBOLD:before {
  content: "\fe";
}

.icon-REPORTER:before {
  content: "\ff";
}

.icon-reporterBOLD:before {
  content: "\100";
}

.icon-reporterREG:before {
  content: "\101";
}

.icon-reporterTHIN:before {
  content: "\102";
}

.icon-reportl:before {
  content: "\e701";
}

.icon-reportTHIN:before {
  content: "\104";
}

.icon-representationBOLD:before {
  content: "\105";
}

.icon-representationREG:before {
  content: "\106";
}

.icon-representationTHIN:before {
  content: "\107";
}

.icon-REVENUEOPPS:before {
  content: "\108";
}

.icon-revenueoppsBOLD:before {
  content: "\109";
}

.icon-revenueoppsREG:before {
  content: "\10a";
}

.icon-revenueoppsTHIN:before {
  content: "\10b";
}

.icon-nextBOLD:before {
  content: "\e6ca";
}

.icon-nextREG:before {
  content: "\10d";
}

.icon-nextTHIN:before {
  content: "\e6cc";
}

.icon-NOTEsolid:before {
  content: "\e6d0";
}

.icon-noteBOLD:before {
  content: "\110";
}

.icon-notel:before {
  content: "\e6cf";
}

.icon-noteTHIN:before {
  content: "\112";
}

.icon-OFF:before {
  content: "\e6d1";
}

.icon-ON:before {
  content: "\e6d2";
}

.icon-OutlineBox:before {
  content: "\e6d5";
}

.icon-outlineboxBOLD:before {
  content: "\116";
}

.icon-outlineboxREG:before {
  content: "\117";
}

.icon-outlineboxTHIN:before {
  content: "\118";
}

.icon-PARTNER:before {
  content: "\119";
}

.icon-partnerBOLD:before {
  content: "\11a";
}

.icon-partnerREG:before {
  content: "\11b";
}

.icon-partnerTHIN:before {
  content: "\11c";
}

.icon-pauseBOLD:before {
  content: "\e6d6";
}

.icon-pauseREG:before {
  content: "\e6d7";
}

.icon-Phone:before {
  content: "\e6da";
}

.icon-phoneBOLD:before {
  content: "\121";
}

.icon-phoneREG:before {
  content: "\122";
}

.icon-phoneTHIN:before {
  content: "\123";
}

.icon-PHOTOGRAPHER:before {
  content: "\124";
}

.icon-photographerBOLD:before {
  content: "\125";
}

.icon-photographerREG:before {
  content: "\126";
}

.icon-photographerTHIN:before {
  content: "\127";
}

.icon-PICS:before {
  content: "\e6dd";
}

.icon-picsBOLD:before {
  content: "\129";
}

.icon-picsl:before {
  content: "\e6de";
}

.icon-picsTHIN:before {
  content: "\12b";
}

.icon-PITCH_fifthteen:before {
  content: "\e604";
}

.icon-PITCH_fifthteenBOLD:before {
  content: "\e605";
}

.icon-PITCH_fifthteenREG:before {
  content: "\e606";
}

.icon-PITCH_fifthteenTHIN:before {
  content: "\e607";
}

.icon-PITCH_thirty:before {
  content: "\e608";
}

.icon-PITCH_thirtyBOLD:before {
  content: "\e609";
}

.icon-PITCH_thirtyREG:before {
  content: "\e60a";
}

.icon-PITCH_thirtyTHIN:before {
  content: "\e60b";
}

.icon-PITCH:before {
  content: "\e6df";
}

.icon-PitchBOLD:before {
  content: "\e6e0";
}

.icon-pitchl:before {
  content: "\e6e1";
}

.icon-PitchTHIN:before {
  content: "\e6e3";
}

.icon-playBOLD:before {
  content: "\e6e4";
}

.icon-playREG:before {
  content: "\e6e5";
}

.icon-playTHIN:before {
  content: "\e6e6";
}

.icon-POLL:before {
  content: "\e763";
}

.icon-PollBOLD:before {
  content: "\13c";
}

.icon-PollREG:before {
  content: "\e765";
}

.icon-PollTHIN:before {
  content: "\13e";
}

.icon-POST:before {
  content: "\e6e9";
}

.icon-postBOLD:before {
  content: "\140";
}

.icon-postl:before {
  content: "\e6ea";
}

.icon-postTHIN:before {
  content: "\142";
}

.icon-PREMIUMADS:before {
  content: "\143";
}

.icon-premiumadsBOLD:before {
  content: "\144";
}

.icon-premiumadsREG:before {
  content: "\145";
}

.icon-premiumadsTHIN:before {
  content: "\146";
}

.icon-PRESCREEN:before {
  content: "\147";
}

.icon-prescreenBOLD:before {
  content: "\148";
}

.icon-prescreenREG:before {
  content: "\149";
}

.icon-prescreenTHIN:before {
  content: "\14a";
}

.icon-previousBOLD:before {
  content: "\e6eb";
}

.icon-previousREG:before {
  content: "\e6ec";
}

.icon-previousTHIN:before {
  content: "\e6ed";
}

.icon-PRIVATE:before {
  content: "\e6ee";
}

.icon-privateBOLD:before {
  content: "\14f";
}

.icon-privateREG:before {
  content: "\150";
}

.icon-privateTHIN:before {
  content: "\151";
}

.icon-PRODUCT:before {
  content: "\152";
}

.icon-productBOLD:before {
  content: "\153";
}

.icon-productREG:before {
  content: "\154";
}

.icon-productTHIN:before {
  content: "\155";
}

.icon-PROFESSIONAL:before {
  content: "\156";
}

.icon-professionalBOLD:before {
  content: "\157";
}

.icon-professionalREG:before {
  content: "\158";
}

.icon-professionalTHIN:before {
  content: "\159";
}

.icon-PROFILE:before {
  content: "\e6ef";
}

.icon-profileBOLD:before {
  content: "\15b";
}

.icon-profilel:before {
  content: "\e6f0";
}

.icon-profileTHIN:before {
  content: "\15d";
}

.icon-PROJECTS:before {
  content: "\e6f1";
}

.icon-projectsBOLD:before {
  content: "\15f";
}

.icon-projectsl:before {
  content: "\e6f2";
}

.icon-projectsTHIN:before {
  content: "\161";
}

.icon-PROMO:before {
  content: "\e6f3";
}

.icon-promoBOLD:before {
  content: "\163";
}

.icon-promol:before {
  content: "\e6f4";
}

.icon-promoTHIN:before {
  content: "\165";
}

.icon-PROMOTION:before {
  content: "\166";
}

.icon-promotionBOLD:before {
  content: "\167";
}

.icon-promotionREG:before {
  content: "\168";
}

.icon-promotionTHIN:before {
  content: "\169";
}

.icon-PROscore:before {
  content: "\e6f5";
}

.icon-proscoreBOLD:before {
  content: "\16b";
}

.icon-proscoreREG:before {
  content: "\16c";
}

.icon-proscoreTHIN:before {
  content: "\16d";
}

.icon-PUBLIC:before {
  content: "\e6f6";
}

.icon-publicBOLD:before {
  content: "\16f";
}

.icon-publicREG:before {
  content: "\170";
}

.icon-publicTHIN:before {
  content: "\171";
}

.icon-PUBLISHING:before {
  content: "\172";
}

.icon-publishingBOLD:before {
  content: "\173";
}

.icon-publishingREG:before {
  content: "\174";
}

.icon-publishingTHIN:before {
  content: "\175";
}

.icon-MAGICIAN:before {
  content: "\176";
}

.icon-magicianBOLD:before {
  content: "\177";
}

.icon-magicianREG:before {
  content: "\178";
}

.icon-magicianTHIN:before {
  content: "\179";
}

.icon-MAINTENANCE:before {
  content: "\17a";
}

.icon-maintenanceBOLD:before {
  content: "\17b";
}

.icon-maintenanceMED:before {
  content: "\17c";
}

.icon-maintenanceTHIN:before {
  content: "\17d";
}

.icon-MANAGEMENT:before {
  content: "\17e";
}

.icon-managementBOLD:before {
  content: "\17f";
}

.icon-managementREG:before {
  content: "\180";
}

.icon-managementTHIN:before {
  content: "\181";
}

.icon-MANDATE:before {
  content: "\e6b8";
}

.icon-mandateBOLD:before {
  content: "\183";
}

.icon-mandatel:before {
  content: "\e6b9";
}

.icon-mandateTHIN:before {
  content: "\185";
}

.icon-MARKETPLACE:before {
  content: "\186";
}

.icon-marketplaceBOLD:before {
  content: "\187";
}

.icon-marketplaceREG:before {
  content: "\188";
}

.icon-marketplaceTHIN:before {
  content: "\189";
}

.icon-MATCHING:before {
  content: "\18a";
}

.icon-matchingBOLD:before {
  content: "\18b";
}

.icon-matchingREG:before {
  content: "\18c";
}

.icon-matchingTHIN:before {
  content: "\18d";
}

.icon-MEDIA:before {
  content: "\e6ba";
}

.icon-MEDIAalt:before {
  content: "\18f";
}

.icon-mediaaltBOLD:before {
  content: "\190";
}

.icon-mediaaltREG:before {
  content: "\191";
}

.icon-mediaaltTHIN:before {
  content: "\192";
}

.icon-mediaBOLD:before {
  content: "\193";
}

.icon-medial:before {
  content: "\e6bb";
}

.icon-mediaTHIN:before {
  content: "\195";
}

.icon-METRICS:before {
  content: "\197";
}

.icon-metricsBOLD:before {
  content: "\198";
}

.icon-metricsREG:before {
  content: "\199";
}

.icon-metricsTHIN:before {
  content: "\19a";
}

.icon-Minus:before {
  content: "\e6bd";
}

.icon-minusBOLD:before {
  content: "\19c";
}

.icon-minusl:before {
  content: "\19d";
}

.icon-minusREG:before {
  content: "\19e";
}

.icon-minusTHIN:before {
  content: "\19f";
}

.icon-MISSIONS:before {
  content: "\1a0";
}

.icon-missionsBOLD:before {
  content: "\1a1";
}

.icon-missionsREG:before {
  content: "\1a2";
}

.icon-missionsTHIN:before {
  content: "\1a3";
}

.icon-MODEL:before {
  content: "\1a4";
}

.icon-modelBOLD:before {
  content: "\1a5";
}

.icon-modelREG:before {
  content: "\1a6";
}

.icon-modelTHIN:before {
  content: "\1a7";
}

.icon-More:before {
  content: "\e6c0";
}

.icon-MosaicVIEW:before {
  content: "\e6c2";
}

.icon-MUSIC:before {
  content: "\e6c3";
}

.icon-MUSICAUDIO:before {
  content: "\1ab";
}

.icon-musicaudioBOLD:before {
  content: "\1ac";
}

.icon-musicaudioREG:before {
  content: "\1ad";
}

.icon-musicaudioTHIN:before {
  content: "\1ae";
}

.icon-musicBOLD:before {
  content: "\1af";
}

.icon-MUSICGROUP:before {
  content: "\1b0";
}

.icon-musicgroupBOLD:before {
  content: "\1b1";
}

.icon-musicgroupREG:before {
  content: "\1b2";
}

.icon-musicgroupTHIN:before {
  content: "\1b3";
}

.icon-MUSICIAN:before {
  content: "\1b4";
}

.icon-musicianBOLD:before {
  content: "\1b5";
}

.icon-musicianREG:before {
  content: "\1b6";
}

.icon-musicianTHIN:before {
  content: "\1b7";
}

.icon-musicl:before {
  content: "\e6c4";
}

.icon-musicREG:before {
  content: "\1b9";
}

.icon-MYSTAGE:before {
  content: "\1ba";
}

.icon-mystageBOLD:before {
  content: "\1bb";
}

.icon-MYSTAGEedit:before {
  content: "\e6c6";
}

.icon-mystageeditBOLD:before {
  content: "\1bd";
}

.icon-mystageeditl:before {
  content: "\e6c7";
}

.icon-mystageeditTHIN:before {
  content: "\1bf";
}

.icon-mystagel:before {
  content: "\e6c8";
}

.icon-hashtagl:before {
  content: "\e69f";
}

.icon-HEX:before {
  content: "\e6a1";
}

.icon-HexBOLD:before {
  content: "\e6a2";
}

.icon-HexREG:before {
  content: "\e6a3";
}

.icon-HexTHIN:before {
  content: "\e6a6";
}

.icon-INDUSTRY:before {
  content: "\e6a9";
}

.icon-IndustryBOLD:before {
  content: "\1c8";
}

.icon-IndustryREG:before {
  content: "\e6ab";
}

.icon-IndustryTHIN:before {
  content: "\e6ac";
}

.icon-INSIDER:before {
  content: "\1cc";
}

.icon-insiderBOLD:before {
  content: "\1cd";
}

.icon-insiderREG:before {
  content: "\1ce";
}

.icon-insiderTHIN:before {
  content: "\1cf";
}

.icon-INVESTORRELATIONS:before {
  content: "\1d0";
}

.icon-investorrelationsBOLD:before {
  content: "\1d1";
}

.icon-investorrelationsREG:before {
  content: "\1d2";
}

.icon-investorrelationsTHIN:before {
  content: "\1d3";
}

.icon-KINGOF:before {
  content: "\e6ae";
}

.icon-kingofBOLD:before {
  content: "\1d5";
}

.icon-kingofREG:before {
  content: "\1d6";
}

.icon-kingofTHIN:before {
  content: "\1d7";
}

.icon-LearnMore:before {
  content: "\e6b0";
}

.icon-learnmoreBOLD:before {
  content: "\1d9";
}

.icon-learnmoreREG:before {
  content: "\1da";
}

.icon-learnmoreTHIN:before {
  content: "\1db";
}

.icon-LEVELS:before {
  content: "\1dc";
}

.icon-levelsBOLD:before {
  content: "\1dd";
}

.icon-levelsREG:before {
  content: "\1de";
}

.icon-levelsTHIN:before {
  content: "\1df";
}

.icon-Link:before {
  content: "\e6b1";
}

.icon-linkBOLD:before {
  content: "\1e1";
}

.icon-linkREG:before {
  content: "\1e2";
}

.icon-linkTHIN:before {
  content: "\1e3";
}

.icon-LISTENS:before {
  content: "\e6b2";
}

.icon-listensBOLD:before {
  content: "\1e5";
}

.icon-listensl:before {
  content: "\1e6";
}

.icon-listensTHIN:before {
  content: "\1e7";
}

.icon-ListVIEW:before {
  content: "\e6b3";
}

.icon-Location:before {
  content: "\e6b4";
}

.icon-locationBOLD:before {
  content: "\1ea";
}

.icon-locationl:before {
  content: "\e6b5";
}

.icon-LOCATIONMULTI:before {
  content: "\1ec";
}

.icon-locationmultiBOLD:before {
  content: "\1ed";
}

.icon-locationmultiREG:before {
  content: "\1ee";
}

.icon-locationmultiTHIN:before {
  content: "\1ef";
}

.icon-locationTHIN:before {
  content: "\1f0";
}

.icon-LOGOUT:before {
  content: "\e6b6";
}

.icon-logoutBOLD:before {
  content: "\1f2";
}

.icon-logoutl:before {
  content: "\e6b7";
}

.icon-logoutREG:before {
  content: "\1f4";
}

.icon-logoutTHIN:before {
  content: "\1f5";
}

.icon-Error:before {
  content: "\e67a";
}

.icon-errorBOLD:before {
  content: "\204";
}

.icon-errorREG:before {
  content: "\205";
}

.icon-errorTHIN:before {
  content: "\206";
}

.icon-EVENT:before {
  content: "\207";
}

.icon-eventBOLD:before {
  content: "\208";
}

.icon-eventREG:before {
  content: "\209";
}

.icon-eventTHIN:before {
  content: "\20a";
}

.icon-EXEC:before {
  content: "\e67b";
}

.icon-ExecBOLD:before {
  content: "\20c";
}

.icon-ExecREG:before {
  content: "\e67d";
}

.icon-ExecTHIN:before {
  content: "\e67e";
}

.icon-FAN:before {
  content: "\20f";
}

.icon-FanBOLD:before {
  content: "\e680";
}

.icon-FANCLUB:before {
  content: "\e681";
}

.icon-FanClubBOLD:before {
  content: "\e682";
}

.icon-FanClubREG:before {
  content: "\e683";
}

.icon-FanClubTHIN:before {
  content: "\e684";
}

.icon-fanl:before {
  content: "\e685";
}

.icon-FANOF:before {
  content: "\e686";
}

.icon-fanofBOLD:before {
  content: "\217";
}

.icon-fanofl:before {
  content: "\e687";
}

.icon-fanofTHIN:before {
  content: "\219";
}

.icon-FanTHIN:before {
  content: "\e689";
}

.icon-FAVES:before {
  content: "\e68a";
}

.icon-favesBOLD:before {
  content: "\21c";
}

.icon-favesl:before {
  content: "\e68b";
}

.icon-favesTHIN:before {
  content: "\21e";
}

.icon-FEATURED:before {
  content: "\e68c";
}

.icon-FeaturedBOLD:before {
  content: "\e68d";
}

.icon-featuredl:before {
  content: "\221";
}

.icon-FeaturedREG:before {
  content: "\e68e";
}

.icon-FeaturedTHING:before {
  content: "\e68f";
}

.icon-FEE:before {
  content: "\e690";
}

.icon-feeBOLD:before {
  content: "\225";
}

.icon-feeREG:before {
  content: "\226";
}

.icon-feeTHIN:before {
  content: "\227";
}

.icon-FILM:before {
  content: "\228";
}

.icon-filmALT:before {
  content: "\229";
}

.icon-filmBOLD:before {
  content: "\22a";
}

.icon-filml:before {
  content: "\e691";
}

.icon-filmTHIN:before {
  content: "\22c";
}

.icon-DANCECREW:before {
  content: "\22f";
}

.icon-dancecrewBOLD:before {
  content: "\230";
}

.icon-dancecrewREG:before {
  content: "\231";
}

.icon-dancecrewTHIN:before {
  content: "\232";
}

.icon-DANCER:before {
  content: "\233";
}

.icon-dancerBOLD:before {
  content: "\234";
}

.icon-dancerREG:before {
  content: "\235";
}

.icon-dancerTHIN:before {
  content: "\236";
}

.icon-DASHBOARD:before {
  content: "\e661";
}

.icon-DashboardBOLD:before {
  content: "\e662";
}

.icon-DashboardREG:before {
  content: "\e663";
}

.icon-DashboardTHIN:before {
  content: "\e664";
}

.icon-Delete:before {
  content: "\e667";
}

.icon-deleteBOLD:before {
  content: "\23c";
}

.icon-deleteREG:before {
  content: "\23d";
}

.icon-deleteTHIN:before {
  content: "\23e";
}

.icon-DIRECTORY:before {
  content: "\23f";
}

.icon-directoryBOLD:before {
  content: "\240";
}

.icon-directoryREG:before {
  content: "\241";
}

.icon-directoryTHIN:before {
  content: "\242";
}

.icon-Discover:before {
  content: "\e669";
}

.icon-discoverALT:before {
  content: "\244";
}

.icon-discoverBOLD:before {
  content: "\245";
}

.icon-discoverREG:before {
  content: "\246";
}

.icon-discoverTHIN:before {
  content: "\247";
}

.icon-DISTRIBUTION:before {
  content: "\248";
}

.icon-distributionBOLD:before {
  content: "\249";
}

.icon-distributionREG:before {
  content: "\24a";
}

.icon-DISTRIBUTIONSER:before {
  content: "\24b";
}

.icon-distributionserBOLD:before {
  content: "\24c";
}

.icon-distributionserREG:before {
  content: "\24d";
}

.icon-distributionserTHIN:before {
  content: "\24e";
}

.icon-distributionTHIN:before {
  content: "\24f";
}

.icon-DISTRIBUTOR:before {
  content: "\250";
}

.icon-distributorBOLD:before {
  content: "\251";
}

.icon-distributorREG:before {
  content: "\252";
}

.icon-distributorTHIN:before {
  content: "\253";
}

.icon-DOCS:before {
  content: "\e66b";
}

.icon-docsBOLD:before {
  content: "\255";
}

.icon-docsl:before {
  content: "\e66c";
}

.icon-docsTHIN:before {
  content: "\257";
}

.icon-DOWNLOAD:before {
  content: "\e66e";
}

.icon-downloadBOLD:before {
  content: "\259";
}

.icon-downloadl:before {
  content: "\e66f";
}

.icon-downloadTHIN:before {
  content: "\25b";
}

.icon-DragDrop:before {
  content: "\e670";
}

.icon-dragdropBOLD:before {
  content: "\25d";
}

.icon-dragdropREG:before {
  content: "\25e";
}

.icon-dragdropTHIN:before {
  content: "\25f";
}

.icon-Edit:before {
  content: "\e671";
}

.icon-editBOLD:before {
  content: "\261";
}

.icon-editREG:before {
  content: "\262";
}

.icon-editTHIN:before {
  content: "\263";
}

.icon-emailBOLD:before {
  content: "\265";
}

.icon-EMAILREAD:before {
  content: "\267";
}

.icon-emailreadBOLD:before {
  content: "\268";
}

.icon-emailreadTHIN:before {
  content: "\26a";
}

.icon-emailTHIN:before {
  content: "\26b";
}

.icon-CELEB:before {
  content: "\279";
}

.icon-celebBOLD:before {
  content: "\27a";
}

.icon-celebREG:before {
  content: "\27b";
}

.icon-celebTHIN:before {
  content: "\27c";
}

.icon-CHANNEL:before {
  content: "\e75f";
}

.icon-ChannelBOLD:before {
  content: "\e760";
}

.icon-ChannelREG:before {
  content: "\27f";
}

.icon-ChannelTHIN:before {
  content: "\e762";
}

.icon-CHARACTER:before {
  content: "\e638";
}

.icon-CharacterBOLD:before {
  content: "\282";
}

.icon-CharacterREG:before {
  content: "\e63a";
}

.icon-CharacterTHIN:before {
  content: "\e63b";
}

.icon-CHARITY:before {
  content: "\285";
}

.icon-charityBOLD:before {
  content: "\286";
}

.icon-charityREG:before {
  content: "\287";
}

.icon-charityTHIN:before {
  content: "\288";
}

.icon-CHECK:before {
  content: "\289";
}

.icon-CheckBOLD:before {
  content: "\28a";
}

.icon-CheckREG:before {
  content: "\28b";
}

.icon-CheckThin:before {
  content: "\28c";
}

.icon-CLIENTS:before {
  content: "\e63e";
}

.icon-clientsBOLD:before {
  content: "\28e";
}

.icon-clientsl:before {
  content: "\e63f";
}

.icon-clientsTHIN:before {
  content: "\290";
}

.icon-CLOSE:before {
  content: "\291";
}

.icon-closeBOLD:before {
  content: "\292";
}

.icon-closeREG:before {
  content: "\293";
}

.icon-closeTHIN:before {
  content: "\294";
}

.icon-CLOUD:before {
  content: "\e640";
}

.icon-CloudBOLD:before {
  content: "\e641";
}

.icon-CloudREG:before {
  content: "\e642";
}

.icon-CloudTHIN:before {
  content: "\e643";
}

.icon-CLOWN:before {
  content: "\299";
}

.icon-clownBOLD:before {
  content: "\29a";
}

.icon-clownREG:before {
  content: "\29b";
}

.icon-clownTHIN:before {
  content: "\29c";
}

.icon-COIN:before {
  content: "\29d";
}

.icon-COINalt:before {
  content: "\29e";
}

.icon-coinaltBOLD:before {
  content: "\29f";
}

.icon-coinaltREG:before {
  content: "\2a0";
}

.icon-coinaltTHIN:before {
  content: "\2a1";
}

.icon-coinBOLD:before {
  content: "\2a2";
}

.icon-coinREG:before {
  content: "\2a3";
}

.icon-coinTHIN:before {
  content: "\2a4";
}

.icon-COLLECTIONS:before {
  content: "\e646";
}

.icon-COLLECTIONSalt:before {
  content: "\e647";
}

.icon-CollectionsBOLD:before {
  content: "\e648";
}

.icon-CollectionsBOLDalt:before {
  content: "\e649";
}

.icon-collectionsl:before {
  content: "\e64a";
}

.icon-CollectionsREG:before {
  content: "\e64b";
}

.icon-CollectionsTHIN:before {
  content: "\e64d";
}

.icon-COMEDIAN:before {
  content: "\2ac";
}

.icon-comedianBOLD:before {
  content: "\2ad";
}

.icon-comedianREG:before {
  content: "\2ae";
}

.icon-comedianTHIN:before {
  content: "\2af";
}

.icon-COMMENT:before {
  content: "\e64f";
}

.icon-commentBOLD:before {
  content: "\2b1";
}

.icon-commentl:before {
  content: "\e650";
}

.icon-commentTHIN:before {
  content: "\2b3";
}

.icon-CONCIERGE:before {
  content: "\2b8";
}

.icon-conciergeBOLD:before {
  content: "\2b9";
}

.icon-conciergeREG:before {
  content: "\2ba";
}

.icon-conciergeTHIN:before {
  content: "\2bb";
}

.icon-CONNECTS:before {
  content: "\e653";
}

.icon-CONNECTSalt:before {
  content: "\e654";
}

.icon-ConnectsBOLD:before {
  content: "\e655";
}

.icon-connectsl:before {
  content: "\e657";
}

.icon-ConnectsTHIN:before {
  content: "\e65b";
}

.icon-CORPORATEBRAND:before {
  content: "\2c1";
}

.icon-corporatebrandBOLD:before {
  content: "\2c2";
}

.icon-corporatebrandREG:before {
  content: "\2c3";
}

.icon-corporatebrandTHIN:before {
  content: "\2c4";
}

.icon-COVERART:before {
  content: "\e65c";
}

.icon-CoverArtBOLD:before {
  content: "\2c6";
}

.icon-CoverArtREG:before {
  content: "\e65e";
}

.icon-CoverArtTHIN:before {
  content: "\e65f";
}

.icon-CREATENEW:before {
  content: "\e660";
}

.icon-createnewBOLD:before {
  content: "\2ca";
}

.icon-createnewREG:before {
  content: "\2cb";
}

.icon-createnewTHIN:before {
  content: "\2cc";
}

.icon-CULINARY:before {
  content: "\2cd";
}

.icon-culinaryBOLD:before {
  content: "\2ce";
}

.icon-culinaryREG:before {
  content: "\2cf";
}

.icon-culinaryTHIN:before {
  content: "\2d0";
}

.icon-BADGE:before {
  content: "\e62a";
}

.icon-badgeBOLD:before {
  content: "\2d2";
}

.icon-BAND:before {
  content: "\2d5";
}

.icon-bandBOLD:before {
  content: "\2d6";
}

.icon-bandREG:before {
  content: "\2d7";
}

.icon-bandTHIN:before {
  content: "\2d8";
}

.icon-BETA:before {
  content: "\2d9";
}

.icon-BETAalt:before {
  content: "\2da";
}

.icon-BETAalt2:before {
  content: "\2db";
}

.icon-betaBOLD:before {
  content: "\2dc";
}

.icon-betaREG:before {
  content: "\2dd";
}

.icon-betaTHIN:before {
  content: "\2de";
}

.icon-BID:before {
  content: "\2df";
}

.icon-bidBOLD:before {
  content: "\2e0";
}

.icon-bidREG:before {
  content: "\2e1";
}

.icon-bidTHIN:before {
  content: "\2e2";
}

.icon-BIO:before {
  content: "\e62d";
}

.icon-bioBOLD:before {
  content: "\2e4";
}

.icon-biol:before {
  content: "\e62e";
}

.icon-bioTHIN:before {
  content: "\2e6";
}

.icon-BLOCK:before {
  content: "\e62f";
}

.icon-BlockBOLD:before {
  content: "\e630";
}

.icon-BlockREG:before {
  content: "\e632";
}

.icon-BlockTHIN:before {
  content: "\e633";
}

.icon-BOOK:before {
  content: "\2eb";
}

.icon-bookBOLD:before {
  content: "\2ec";
}

.icon-BOOKMARK:before {
  content: "\e635";
}

.icon-bookmarkBOLD:before {
  content: "\2ee";
}

.icon-bookmarkl:before {
  content: "\e636";
}

.icon-bookmarkTHIN:before {
  content: "\2f0";
}

.icon-bookl:before {
  content: "\e634";
}

.icon-bookTHIN:before {
  content: "\2f2";
}

.icon-BROWSE:before {
  content: "\2f3";
}

.icon-browseBOLD:before {
  content: "\2f4";
}

.icon-browseREG:before {
  content: "\2f5";
}

.icon-browseTHIN:before {
  content: "\2f6";
}

.icon-ACCESS:before {
  content: "\e60c";
}

.icon-AccessBOLD:before {
  content: "\e60d";
}

.icon-AccessREG:before {
  content: "\e60e";
}

.icon-AddAnother:before {
  content: "\e610";
}

.icon-ADDTO:before {
  content: "\e612";
}

.icon-ALBUM:before {
  content: "\370";
}

.icon-albumBOLD:before {
  content: "\375";
}

.icon-albuml:before {
  content: "\e616";
}

.icon-albumTHIN:before {
  content: "\378";
}

.icon-AMBASSADOR:before {
  content: "\379";
}

.icon-ambassadorBOLD:before {
  content: "\37a";
}

.icon-ambassadorREG:before {
  content: "\37b";
}

.icon-ambassadorTHIN:before {
  content: "\37c";
}

.icon-ANCHOR:before {
  content: "\37d";
}

.icon-anchorBOLD:before {
  content: "\37e";
}

.icon-anchorREG:before {
  content: "\37f";
}

.icon-anchorTHIN:before {
  content: "\380";
}

.icon-ARROWdown:before {
  content: "\e61a";
}

.icon-ARROWleft:before {
  content: "\e61b";
}

.icon-ARROWright:before {
  content: "\e61c";
}

.icon-arrowTHINdown:before {
  content: "\e61d";
}

.icon-arrowTHINleft:before {
  content: "\e61e";
}

.icon-arrowTHINright:before {
  content: "\e61f";
}

.icon-arrowTHINup:before {
  content: "\e620";
}

.icon-ARROWup:before {
  content: "\e621";
}

.icon-ARTICLEsolid:before {
  content: "\389";
}

.icon-ARTIST:before {
  content: "\38d";
}

.icon-artistBOLD:before {
  content: "\38e";
}

.icon-artistREG:before {
  content: "\38f";
}

.icon-artistTHIN:before {
  content: "\390";
}

.icon-ATHLETE:before {
  content: "\391";
}

.icon-athleteBOLD:before {
  content: "\392";
}

.icon-athleteREG:before {
  content: "\393";
}

.icon-athleteTHIN:before {
  content: "\394";
}

.icon-ATTRIBUTES:before {
  content: "\396";
}

.icon-attributesBOLD:before {
  content: "\397";
}

.icon-attributesREG:before {
  content: "\398";
}

.icon-attributesTHIN:before {
  content: "\399";
}

.icon-AUDIO:before {
  content: "\39a";
}

.icon-audioBOLD:before {
  content: "\39b";
}

.icon-audiol:before {
  content: "\39c";
}

.icon-audioTHIN:before {
  content: "\39d";
}

.icon-AVATAR:before {
  content: "\39e";
}

.icon-avatarBOLD:before {
  content: "\39f";
}

.icon-avatarREG:before {
  content: "\3a0";
}

.icon-avatarTHIN:before {
  content: "\3a1";
}

.icon-AWARD:before {
  content: "\e625";
}

.icon-AwardBOLD:before {
  content: "\e626";
}

.icon-awardl:before {
  content: "\e627";
}

